* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  width: 100%;
  min-height: fit-content;
  background-color: #1E201E;
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin: auto;
  position: relative;
  padding: 20px 15px;
  position: sticky;

}

.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logo a {
  font-size: 24px;
  color: aliceblue;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.menu {
  display: flex;
  position: sticky;
  justify-content: center;
  align-items: center;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 20px; 
}

.menu ul li {
  display: inline-block;
}

.menu ul li a {
  color: white;
  font-size: 16px;
  padding: 0px 16px 0px 16px;
}

.menu ul li a:hover {
  text-decoration: underline;
}

.content {
  height: 100vh;
  background-image: url(966314.jpg);
  background-size: cover;
  padding-top: 40vh;
  padding-left: 20vh;
  padding-right: 20vh;
  padding-bottom: 40vh;
}

.peler {
  margin-top: 40vh;
  height: 100vh;
  background-image: url(1268195.png);
  background-size: cover;
}

.main-text {
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 100px;
  padding-bottom: 100px;
  margin-top: -200px;
  margin-bottom: 500px;
  background: rgba(225, 225, 225, 0.8); 
  border-radius: 15px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border: none; 
}


.main-text h6 {
  padding-bottom: 50px;
}

.main-text p {
  padding-top: 30px;
  margin-right: 350px;
  text-align: justify;
}

.main-text img {
  margin-top: -220px;
  float: right; 
  margin-left: 20px; 
  width: 200px; 
  height: auto; 
}

